<!DOCTYPE html>
<html lang="en" ng-app="bikeApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Bikes</title>
        <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
        <!-- AngularJS -->
    <script src="../bower_components/angular/angular.min.js"></script>
        <!-- JS -->
    <script src="scripts/main.js"></script>

</head>

<body>

  <div class="container">
    <div class="row row-content" ng-controller="bikeAppCtrl">
      <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
          <li ng-class="{active:isSelected(1)}" role="presentation">
            <a ng-click="select(1)" role="tab" aria-controls="all bikes">All types</a>
          </li>
          <li ng-class="{active:isSelected(2)}" role="presentation">
            <a ng-click="select(2)" role="tab" aria-controls="mtb">MTB</a>
          </li>
          <li ng-class="{active:isSelected(3)}" role="presentation">
            <a ng-click="select(3)" role="tab" aria-controls="road">Road</a>
          </li>
          <li ng-class="{active:isSelected(4)}" role="presentation">
            <a ng-click="select(4)" role="tab" aria-controls="eBikes">e-bikes</a>
          </li>
        </ul>
        <div class="tab-content">
          <ul class="media-list tab-pane fade in active">
            <li class="media" ng-repeat="bike in bikes | filter:filtText">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object img-thumbnail" 
                  ng-src="{{bike.image}}" alt="{{bike.name}}">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  {{bike.name}}
                  <span class="label label-danger">{{bike.label}}</span>
                  <span class="badge">{{bike.price | currency:USD:0}}</span>
                </h4>
                <p>{{bike.description}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
